@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Загрузите данные о погоде</h2>
        <p>
            Загрузите данные о погоде в формате .xlsx  на специальной странице загрузки
        </p>
        <p><a class="btn btn-default" href="Home/UploadWeatherData">Загрузить &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Просматривайте данные</h2>
        <p>Наглядное отображение погодных условий с возможностью филтрации по годам/месяцам.</p>
        <p><a class="btn btn-default" href="Home/DisplayWeather">Смотреть &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Открытый код проекта</h2>
        <p>Вы можете получить исходный код проекта по ссылке</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Получить &raquo;</a></p>
    </div>
</div>