@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
    <h1>Просмотрщик погоды  v 1.0</h1>
    <p class="lead">Лучшее средство, для просмотра погоды в строго типизированных excel файлах.</p>   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Загрузите данные о погоде</h2>
        <p>
            Загрузите данные о погоде в формате .xlsx  на специальной странице загрузки
        </p>
        <p><a class="btn btn-default" href="Home/UploadWeatherData">Загрузить &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Просматривайте данные</h2>
        <p>Наглядное отображение погодных условий с возможностью филтрации по годам/месяцам.</p>
        <p><a class="btn btn-default" href="Home/DisplayWeather">Смотреть &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Открытый код проекта</h2>
        <p>Вы можете скачать исходный код проекта по ссылке</p>
        <p><a class="btn btn-default" target="_blank" href="https://github.com/Baneslayer55/WeatherInMoscow">Получить &raquo;</a></p>
    </div>
</div>