@{
    ViewBag.Title = "Загрузить данные о погоде";
}
<div class="uploadWeather">
   @using (Html.BeginForm("UploadWeatherData",
                            "Home",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {
<center>
    <label for="file-upload" class="custom-file-upload">
    Выберите файлы
    </label>
    <input id="file-upload" type="file" accept=".xlsx" multiple name="importedFiles"/><br/>
    <p id="fileList"></p>
    <script>
        var control = document.getElementById("file-upload");
        control.addEventListener("change", function (event)
        {
            var i = 0,
                files = control.files,
                len = files.length;
            document.getElementById('fileList').innerHTML = "Выбранные файлы:<br/>";
            for (; i < len; i++) {
                document.getElementById('fileList').innerHTML += files[i].name + "<br/>";
            }
 
        }, false);
    </script>
    <input class="custom-submit" type="submit" value="Загрузить в базу"/><br/>
   @ViewBag.Message
</center>
    }
</div>